<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>BankApplication_secure</display-name>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
   <servlet>
     <servlet-name>VerifyCredentials</servlet-name>
     <servlet-class>com.bank_application.VerifyCredentials</servlet-class>
   </servlet>
   <servlet-mapping>
     <servlet-name>VerifyCredentials</servlet-name>
     <url-pattern>/VerifyCredentials</url-pattern>
   </servlet-mapping>
   <servlet>
     <servlet-name>Logout</servlet-name>
     <servlet-class>com.bank_application.Logout</servlet-class>
   </servlet>
   <servlet-mapping>
     <servlet-name>Logout</servlet-name>
     <url-pattern>/Logout</url-pattern>
   </servlet-mapping>
   <servlet>
     <servlet-name>Feedback</servlet-name>
     <servlet-class>com.bank_application.Feedback</servlet-class>
   </servlet>
   <servlet-mapping>
     <servlet-name>Feedback</servlet-name>
	 <url-pattern>/Feedback</url-pattern>
   </servlet-mapping>
   <servlet>
     <servlet-name>AddUser</servlet-name>
     <servlet-class>com.bank_application.AddUser</servlet-class>
   </servlet>
   <servlet-mapping>
     <servlet-name>AddUser</servlet-name>
     <url-pattern>/AddUser</url-pattern>
   </servlet-mapping>
   <servlet>
     <servlet-name>RemoveUser</servlet-name>
     <servlet-class>com.bank_application.RemoveUser</servlet-class>
   </servlet>
   <servlet-mapping>
     <servlet-name>RemoveUser</servlet-name>
     <url-pattern>/RemoveUser</url-pattern>
   </servlet-mapping>
   <servlet>
     <servlet-name>ProxyServerQuery</servlet-name>
     <servlet-class>com.bank_application.ProxyServerQuery</servlet-class>
   </servlet>
   <servlet-mapping>
     <servlet-name>ProxyServerQuery</servlet-name>
     <url-pattern>/ProxyServerQuery</url-pattern>
   </servlet-mapping>
   <servlet>
     <servlet-name>ProxyServerScript</servlet-name>
     <servlet-class>com.bank_application.ProxyServerScript</servlet-class>
   </servlet>
   <servlet-mapping>
     <servlet-name>ProxyServerScript</servlet-name>
     <url-pattern>/ProxyServerScript</url-pattern>
   </servlet-mapping>
   <servlet>
     <servlet-name>FeedbackFilter</servlet-name>
     <servlet-class>com.bank_application.FeedbackFilter</servlet-class>
   </servlet>
   <servlet-mapping>
     <servlet-name>FeedbackFilter</servlet-name>
     <url-pattern>/FeedbackFilter</url-pattern>
   </servlet-mapping>
</web-app>